In [162]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import (Flask, render_template, jsonify, request, redirect)

import sqlite3
from flask import g

In [163]:
engine = create_engine("sqlite:///gun_violence.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Gun_sales = Base.classes.gun_sales
Gun_law_grade = Base.classes.gun_law_grade
Mass_shootings = Base.classes.mass_shootings
State_laws_by_year = Base.classes.state_laws_by_year

# Create our session (link) from Python to the DB
session = Session(engine)

In [164]:
results = session.query(Gun_sales.id, Gun_sales.year, Gun_sales.state, Gun_sales.handgun, Gun_sales.long_gun, Gun_sales.other).statement
df = pd.read_sql_query(results, session.bind)
df["new_id"] = df["year"].astype(str) + df["state"]
del df["id"]
df = df[["new_id", "year", "state", "handgun", "long_gun", "other"]]
df.tail(2)

             new_id  year      state  handgun  long_gun  other
1117  2017Wisconsin  2017  Wisconsin   141628    123407   7612
1118    2017Wyoming  2017    Wyoming    15227     17229   1006

In [192]:
df_dict = {"gun_sales_id": df["new_id"].values.tolist(),\
           "year": df["year"].values.tolist(), \
           "state": df["state"].values.tolist(),\
           "hand_gun": df["handgun"].values.tolist(),\
           "long_gun": df["long_gun"].values.tolist(),\
           "other": df["other"].values.tolist()
          }

In [193]:
state_ids = []
for num in range(56):
    state_ids.append(num)
df_state_ids = pd.DataFrame(state_ids)
df_state_ids = df_state_ids.iloc[1:56]
df_state_ids = df_state_ids.reset_index(drop=True)
df_state_ids = df_state_ids.rename(columns={0:"state_id"})

In [202]:
state_names = df["state"].iloc[0:55]
df_states = pd.DataFrame(state_names)
df_states["state_id"] = df_state_ids["state_id"]
df_states = df_states[["state_id","state"]]

In [204]:
states_dict = {"state_id": df_states["state_id"].values.tolist(),"state": df_states["state"].values.tolist()}